<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.example.org/helloworld">
	<name>wait a minutes</name>
	<description>イラストSNS pixivの評価を、少しの間だけやり直せるようにします。</description>
  	<author href="http://kikuchy.github.io" email="kikuchy.h@gmail.com">kikuchy</author>
</widget>
